<ul class="list-group">
    <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
        Today's task
        <span class="badge bg-primary rounded-pill">{{currentTask.length}}</span>
    </li>
    <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
        Upcoming task
        <span class="badge bg-primary rounded-pill">{{upcomingTask.length}}</span>
    </li>
    <li class="list-group-item list-group-item-secondary  d-flex justify-content-between align-items-center">
        Favourite task
        <span class="badge bg-primary rounded-pill">{{favouriteTask.length}}</span>
    </li>
    <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
        Previous uncompleted task
        <span class="badge bg-primary rounded-pill">{{previousTask.length}}</span>
    </li>
</ul>