<nav class="navbar navbar-expand-lg bg-primary mb-5" data-bs-theme="dark" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard"><span >TODO</span></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarColor01">
        <div class="navbar-nav me-auto">
          <a class="nav-item nav-link" routerLink="/add" routerLinkActive="text-warning-emphasis"><i class="pl-5 fa fa-sharp fa-solid fa-plus"></i>add</a>
           <a class="nav-item nav-link" routerLink="/list" routerLinkActive="text-warning-emphasis"><i class="fa fa-solid fa-list"></i>LIST </a>
           <a class="nav-item nav-link" routerLink="/favorite" routerLinkActive="text-warning-emphasis"><i class="fa fa-sharp fa-solid fa-star"></i>FAVORITE</a>
           <a class="nav-item nav-link" routerLink="/calender" routerLinkActive="text-warning-emphasis">
            <i class="fa fa-regular fa-calendar"></i>
            calender</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>